
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Harwa Perfumes</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/imgs/theme/PERFUMES.jpg.png">
    <!-- Template CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="...">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <link rel="stylesheet" href="user/assets/css/main.css?v=3.4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="user/assets/css/checkout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>




    <header class="header-area header-style-1 header-height-2">
        
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img style="width: 200px;" src="/user/assets/imgs/theme/PERFUMES.jpg.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <!-- <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Women's</option>
                                    <option>Men's</option>
                                    <option>Unisex's</option>
                                    
                                </select>
                                <input type="text" style="width: 30rem;" placeholder="Search for items...">
                            </form>
                            
                        </div> -->

                            <div class="input-group" style="width: 40rem;">
                                <input type="search" class="form-control rounded" style="border-color: darkslategrey;" placeholder="Search" id="search_box" aria-label="Search" aria-describedby="search-addon" />
                                <button type="button" class="btn btn-dark" data-mdb-ripple-init>search</button>
                            </div>
                            <div style="position: absolute;z-index:999;width:304px;" id="resultsContainer" ></div>
                        



                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/userprofile?id=<%= user._id %>">
                                        <img alt="Evara" src="user/assets/imgs/theme/icons/profile.jpg.jpg">
                                        <!-- <span class="pro-count blue">2</span> -->
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="/userprofile?id=<%= user._id %>"><%= user.name %>  </a></h4>                                                 
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="/logout">Logout</a></h4>              
                                                </div>
                                                
                                            </li>
                                            <li>
                                                <div class="mobile-social-icon">
                                                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                                                    <a href="#"><img src="user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                                    <a href="#"><img src="user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                                    <a href="#"><img src="user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                                    <a href="#"><img src="user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                                    <a href="#"><img src="user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                                <div class="header-action-icon-2">
                                   
                                    <a href="/Wishlist">
                                        <img class="svgInject" alt="Evara" src="user/assets/imgs/theme/icons/icon-heart.svg">
                                        <!-- <span class="pro-count blue">4</span> -->
                                    </a>
                                </div>
                        
                                    
                                    
                                 </form>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cartPage">
                                        <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                                        <!-- <span class="pro-count blue">2</span> -->
                                    </a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/home"><img src="/user/assets/imgs/theme/PERFUMES.jpg.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active ml-5" href="/home">Home </i></a>
                                        
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li><a href="/shop">Shop</a>
                                
                                    </li>
                                    <li class="position-static"><a href="#">Mega menu </i></a>
                                        
                                    
                                    <li><a href="/fullOrder">Orders <i class="fi-rs-angle-down"></i></a>
                                        
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/Wishlist">
                                    <img alt="Evara" src="user/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cartPage">
                                    <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                   
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-top">
                    <div class="mobile-header-logo">
                        <a href="/"><img src="/user/assets/imgs/theme/PERFUMES.jpg.png" alt="logo"></a>
                    </div>
                    <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                        <button class="close-style search-close">
                            <i class="icon-top"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="mobile-search search-style-3 mobile-header-border">
                        <form action="#">
                            <input type="text" placeholder="Search for items…">
                            <button type="submit"><i class="fi-rs-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <div class="main-categori-wrap mobile-header-border">
                           
                            
                        </div>
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/home">Home</a>
                                    
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                    
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/userprofile">Profile</a>
                                   
                                </li>
                                
                               
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/userprofile">My Account</a></li>
                                        <li><a href="/login">login/register</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                    <ul class="dropdown">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap mobile-header-border">
                        
                        
                        <div class="single-mobile-header-info">
                            <a href="#">+91 7510115894 </a>
                        </div>
                    </div>
                    <div class="mobile-social-icon">
                        <h5 class="mb-15 text-grey-4">Follow Us</h5>
                        <a href="#"><img src="user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                        <a href="#"><img src="user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                        <a href="#"><img src="user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                        <a href="#"><img src="user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                        <a href="#"><img src="user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI/t1aZlKwO8K5kExzqPc4U5e02uBfTuj1DEFePc=" 
        crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script>
     $(document).ready(function () {
    $("#search_box").on("input", function () {
        var value = $("#search_box").val().toLowerCase();
        var resultsContainer = $("#resultsContainer");
        resultsContainer.empty();

        $.get('/searchProduct', { q: value }, (data) => {
            data.forEach(element => {
                console.log(element);
                var resultDiv = $("<div>").css({
                    'width':'33rem',
                    'color': 'black',
                    'background-color': 'white',
                    'padding': '7px',
                    'border': '1px solid black',
                    'text-align': 'center',
                    'cursor': 'pointer'
                }).text(element.name);

                resultDiv.hover(
                    function () {
                        $(this).css({
                            'background-color': 'black',
                            'color': 'white'
                        });
                    },
                    function () {
                        $(this).css({
                            'background-color': 'white',
                            'color': 'black'
                        });
                    }
                );

                resultDiv.click(function () {
                   
                    window.location.href = '/productdetails?id=' + element._id;
                });
                resultsContainer.append(resultDiv);
            });
        });
    });
});
    </script>