<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/assets/css/otp.css">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center container">
       <form action="/verify-otp" method="post">
        <div class="card py-5 px-3">
            <h5 class="m-0">Email verification</h5><span class="mobile-text">Enter the code we just send on your Email <b class="text-danger"><%=email%></b></span>
            <div  class="d-flex flex-row mt-5">
                <input type="text" class="form-control" autofocus="" id="otp" name="otp"  required>
               
                <button style="background: rgb(188, 18, 18); border-radius: 10px; color: aliceblue" type="submit" >Verify-OTP</button>
            </div>
            <!-- <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span class="font-weight-bold text-danger cursor">Resend</span></div> -->
        </div>
    </form>
    </div>
  
    <!-- <script src="/user/assets/js/otp.js"></script> -->
</body>
</html>